# RabbitMQ Configuration
RABBITMQ_SERVER=amqp://localhost

# PostgreSQL Configuration
PGHOST=localhost
PGPORT=5432
PGUSER=developer
PGPASSWORD=supersecretpassword
PGDATABASE=openmusicapi

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
